/* ESTILOS GENERALES */
:root {
    --text-color:#202229;
    --background-color: #c7c7c7; 

    --paragraph-font-size: clamp(1rem, 3vw, 1.2rem);
    --title-h1-font-size: clamp(1.9rem, 3vw, 2.9rem);
    --title-h2-font-size: clamp(1.6rem, 3vw, 2.4rem);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul,ol {
    list-style: none;
}
html {
    scroll-behavior: smooth;
}
.container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 20px;
}
p {
    text-wrap: pretty;
    font-size: var(--paragraph-font-size);
    margin-bottom: 10px;
}
h1, h2 {
    text-align: center;
    margin-bottom: 20px;
}
h1 {
    font-size: var(--title-h1-font-size);
}
h2 {
    font-size: var(--title-h2-font-size);
}

/* ESTILOS DEL BODY */

/* ESTILOS DEL HEADER */


/* ESTILOS DEL ASIDE */


/* MAIN ESTILOS */


/* FOOTER ESTILOS */


